<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="style.css"/>
<link rel="stylesheet" href="animate.css"/>
<script src="socket.io/socket.io.js"></script>
<script src="config.js"></script>
<script src="script.js"></script>
</head>
<body>